.menu_encabezado { /* Contiene los campos que se ubican en el encabezado, barra fija.*/
    position: fixed;
    border: black 5px solid;
    width: 2000px;
    height: 100px;
}

.titulo_contactoss {
    border: darkblue 1px solid;
    width: 1300px;
    height: 1px;
}

.titulo_contactosss {
    margin-left: 550px;
    margin-top: 150px;
}