.texto_contactos { /* Diseño del texto del boton contactos ubicado en el layout*/

    font: oblique bold 120% cursive;
    margin-left: auto; 
    margin-right: auto
}
.button_llamarahora /* Diseño del boton llamar ahora.*/ {
    width: 150px;
    height: 50px;
    background-color: aqua;
   
}
.button_contactanos /* Diseño del boton contactanos.*/ {
    width: 150px;
    height: 50px;
    background-color: bisque;
    color: aqua;
    margin-left: auto;
    margin-right: 2000px
}