
.btnenviar {
    
    width: 150px;
    height: 50px;
    background-color: darkblue;
    color:white;
}

.letra{ /*es para aplicar color a la letra en la vista contactos*/
    color:floralwhite;
}

/*El diseño del apartado de contacto con google maps*/

.contact-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
}

.contact-form {
    width: 38%;
    padding: 20px;
    background-color: dimgray;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
    width: 48%;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary { /* Boton para enviar mensaje en la vista contactos del formulario*/
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}