@page
@using App_ACC_MEX.Pages.Shared
@model ConectividadIndustrial5GModel

@{
	ViewData["Title"] = "ConectividadIndustrial5G";
}
<link rel="stylesheet" href="~/Diseño/Softeare y Conectividad/ConectividadIndustrial5G.css" asp-append-version="true">

<div>
	<div class="otro_ConectividadIndustrial5G"></div>
	<div class="encabezado_ConectividadIndustrial5G">
		<h1> Conectividad Industrial 5G </h1>
		<div />
		<div class="contenedor_ConectividadIndustrial5G">
			</div>

</div>
