@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><div class="text-center">
            <h1 class="display-4">
                Automatización
                CONTROL INDUSTRIAL Y EMPRESARIAL
                INTERNET DE LAS COSAS

                
            </h1>
            <input type="button" >Contactanos</input>
        <br />
        
    </div></h1>
    <br />
    
</div>

<div>
    <h3>//Nuestros servicios</h3>
    
</div>
<div>
    <section>
        <img src="https://accmex.com.mx/wp-content/uploads/2022/09/IOT-inicio-accmex.jpg">

        <h2 >Sistemas IOT</h2>
        <div class="elementor-cta__description elementor-cta__content-item elementor-content-item elementor-animated-item--grow">
            Conectividad y soluciones IOT flexibles de acuerdo a las necesidades de tu empresa
        </div>
        </img>

          
        
        
    </section>
</div>
<div>
    <section>
        <img src="https://accmex.com.mx/wp-content/uploads/2022/09/IOT-inicio-accmex.jpg">

        <h2>Control industrial</h2>
        <div ">
            Ingenieria en automatización y Control Industrial
        </div>
        </img>

</div>


    </section>



<div> <input type="button">Contactanos</input> </div>

<div> <h1>Nuestros Clientes Distinguidos</h1> </div>


<div>
    

    <h2>
        // Nosotros colaboramos
        Con las mejores marcas
    </h2>
    <h4> Somos tu mejor opción, nuestra misión fue creada para satisfacer las necesidades de control y distribución eléctrica de la industria nacional e internacional, fundada en marzo del año 2000</h3>
</div>

<div> <input type="button">Contactanos</input> </div>
    

<div>


    <h1>
        Redes industriales 5G
        </h1>
    <h4> Interconexión fiable e inalámbrica con altas velocidades de transmisión de datos</h3>
        <div> <input type="button">Mas informacion</input> </div>
        <div>
            <h4>Soluciones para la industria</h4>
            <input type="button"> contactanos </input> 
        </div>
</div>




<div>
    <h2>Somos empresa mexicana</h2>
    <p>Siempre vasandonos en nuestros valors</p>
</div>

<div>
    <h3>Contactanos</h3>

    <ul>
        <li>
            <span>00000000</span>
        </li>
        <li>
            <span>00000000</span>
        </li>
        <li>
            <span>correo@gmail.com</span>
        </li>
    </ul>
</div>



  
