@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
   
            <h1 class="text_titulo">
                Automatización
                <h1>CONTROL INDUSTRIAL Y EMPRESARIAL
                INTERNET DE LAS COSAS</h1>
            </h1>

    <input class="button_contactanos" type="button" value="Contactanos">
</div>

<div>
    <h3 class="texto_nuestrosservicios">Nuestros servicios</h3>
    
</div>

<div class="imagenes_posicion">
    <table>
          <tr>

            <td>
                
                <img class="imagenes_tabla" src="~/imgservicios/iot-inicio-accmex.jpg">
                <img class="imagenes_tabla" src="~/imgservicios/5G-accmex-inicio-1024x465.jpg">
            </td>
          </tr>

        <tr>    
            <td>
                <img class="imagenes_tabla" src="~/imgservicios/control-industrial-1024x576.jpeg">
                <img class="imagenes_tabla" src="imgservicios/software-industrial-2-1024x682.jpeg">
            </td>
        </tr>

        <tr>
            <td>
                <img class="imagenes_tabla" src="imgservicios/software-administrativo.jpg">
                <img class="imagenes_tabla" src="imgservicios/maquina-accmex.png">
            </td>
        </tr>

        <tr>
            <td>
                <img class="imagenes_tabla" src="imgservicios/accemex-maquina-01.gif">
            </td>
        </tr>
            
     </table>
</div>

<h2>Control industrial</h2>

<div>
    Ingenieria en automatización y Control Industrial
</div>

<div>
    <input class="button_contactanos" type="button" value="Contactanos">
</div>
<hr> 

<div>
<h1>Nuestros Clientes Distinguidos</h1> 
</div>
<div>
    <h4>fotos sobre clientes distinguidos</h4> <!-- Aqui comienza el codigo del carrusel -->

    <div class="slide">
        <div class="slide-inner">
            <input class="slide-open" type="radio" id="slide-1"
                   name="slide" aria-hidden="true" hidden="" checked="checked">
                   
            <div class="slide-item">
				<img src="~/logosclientes/accmex-3.jpg">
				<img src="~/logosclientes/nestle-accmex.jpg">
				<img src="~/logosclientes/cemento-cruz-azul.jpg">
            </div>

            <input class="slide-open" type="radio" id="slide-2"
                   name="slide" aria-hidden="true" hidden="" checked="checked">
            <div class="slide-item">    
				<img src="~/logosclientes/12.jpg" />
				<img src="~/logosclientes/11.jpg" />
                <img src="~/logosclientes/10.jpg" />
            </div>

            <input class="slide-open" type="radio" id="slide-3"
                   name="slide" aria-hidden="true" hidden="" checked="checked">
            <div class="slide-item">
                <img src="~/logosclientes/owens-accmex.jpg" />
                <img src="~/logosclientes/8.jpg" />
                <img src="~/logosclientes/instituto-electrica-accmex.jpg" />
            </div>


            <input class="slide-open" type="radio" id="slide-4"
                   name="slide" aria-hidden="true" hidden="" checked="checked">
            <div class="slide-item">
                <img src="~/logosclientes/6.jpg" />
                <img src="~/logosclientes/5.jpg" />
                <img src="~/logosclientes/4.jpg" />
            </div>

            <input class="slide-open" type="radio" id="slide-5"
                   name="slide" aria-hidden="true" hidden="" checked="checked">
            <div class="slide-item">
                <img src="~/logosclientes/3.jpg" />
                <img src="~/logosclientes/2.jpg" />
                <img src="~/logosclientes/1.jpg" />
            </div>

            <input class="slide-open" type="radio" id="slide-6"
                   name="slide" aria-hidden="true" hidden="" checked="checked">
            <div class="slide-item">
                <img src="~/logosclientes/Honeywell-accmex.jpg" />
                <img src="~/logosclientes/ABB-ACCMEX.jpg" />
                
            </div>
            <label for="slide-6" class="slide-control prev control-1">‹</label>
            <label for="slide-5" class="slide-control prev control-6">‹</label>
            <label for="slide-4" class="slide-control prev control-5">‹</label>
            <label for="slide-3" class="slide-control prev control-4">‹</label>
            <label for="slide-2" class="slide-control prev control-3">‹</label>
            <label for="slide-1" class="slide-control prev control-2">‹</label>
            <label for="slide-6" class="slide-control next control-5">›</label>
            <label for="slide-5" class="slide-control next control-4">›</label>
            <label for="slide-4" class="slide-control next control-3">›</label>
            <label for="slide-3" class="slide-control next control-2">›</label>
            <label for="slide-2" class="slide-control next control-1">›</label>
            <label for="slide-1" class="slide-control next control-6">›</label>
            <ol class="slide-indicador">
                <li>
                    <label for="slide-1" class="slide-circulo">•</label>
                </li>
                <li>
                    <label for="slide-2" class="slide-circulo">•</label>
                </li>
                <li>
                    <label for="slide-3" class="slide-circulo">•</label>
                </li>

                <li>
                    <label for="slide-4" class="slide-circulo">•</label>
                </li>
                <li>
                    <label for="slide-5" class="slide-circulo">•</label>
                </li>
                <li>
                    <label for="slide-6" class="slide-circulo">•</label>
                </li>
            </ol>
        </div>
    </div>

</div> <!-- Aqui termina el codigo del carrusel -->

<hr />

<div>
    <h2>
        // Nosotros colaboramos
        Con las mejores marcas
    </h2>

    <h4> Somos tu mejor opción, nuestra misión fue creada para satisfacer las necesidades de control y distribución eléctrica de la industria nacional e internacional, fundada en marzo del año 2000</h4>
</div>

<div>
    <input class="button_contactanos" type="button" value="Contactanos">
</div>    

<div>
    <h1>
        Redes industriales 5G
    </h1>

    <h4> 
        Interconexión fiable e inalámbrica con altas velocidades de transmisión de datos
    </h4>
        <div>
        <input class="button_masinfo" type="button" value="Mas informacion">
        </div>
        
        <div>
            <h4>Soluciones para la industria</h4>
        <input class="button_contactanos" type="button" value="Contactanos">
        </div>
</div>

<div>
    <img src="~/images/acc mex original.png" />
</div>

<div>
    <h2>Somos empresa mexicana</h2>
    <p>Siempre vasandonos en nuestros valors</p>
</div>

<div>
    <h3>Contactanos</h3>
    <ul>
        <li>
            <span>00000000</span>
        </li>
        <li>
            <span>00000000</span>
        </li>
        <li>
            <span>correo@gmail.com</span>
        </li>
    </ul>
</div>



  
