@page
@using App_ACC_MEX.Pages.Shared
@model MisionModel

@{
	ViewData["Title"] = "Mision";
}
<link rel="stylesheet" href="~/Diseño/Quienes Somos/Mision.css" asp-append-version="true">

<div>
	<div class="otro_mision"></div>
	<div class="Encabezado_mision">
		<h1> Mision</h1>
		<div />
		<img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/C120/production/_104304494_mediaitem104304493.jpg"></img>
		<div class="contenedor_mision">
			</divc>

		</div>
