@page
@using App_ACC_MEX.Pages.Shared
@model PoliticadecalidadModel

@{
	ViewData["Title"] = "politicadecalidad";
}
<link rel="stylesheet" href="~/Diseño/Quienes Somos/Politicadecalidad.css" asp-append-version="true">

<div>
	<div class="otro_politicadecalidad"></div>
	<div class="Encabezado_politicadecalidad">
		<h1> Bienvenido a la politica de calidad</h1>
		<div />
		<div class="contenedor_politicadecalidad">
		</div>

	</div>
