@page
@using App_ACC_MEX.Pages.Shared
@model SoftwareAdministrativoModel

@{
	ViewData["Title"] = "SoftwareAdministrativo";
}
<link rel="stylesheet" href="~/Diseño/Softeare y Conectividad/SoftwareAdministrativo.css" asp-append-version="true">

<div>
	<div class="otro_SoftwareAdministrativo"></div>

	<div class="encabezado_SoftwareAdministrativo">
		<h1> Software Administrativo</h1>
		<div />

		<div class="contenedor_SoftwareAdministrativo">
		</div>

</div>
