@page
@using App_ACC_MEX.Pages.Shared
@model SolucionesenroboticaModel

@{
	ViewData["Title"] = "Solucionesenrobotica";
}
<link rel="stylesheet" href="~/Diseño/Automatizacion diseño/Solucionesenrobotica.css" asp-append-version="true">

<div>
	<div class="otrooo"></div>
		<div class="Contenedorarribaaa">
		<h1> Soluciones en robotica</h1>
		<div />

		<div class="contenedor3">
	</div>
</div>
