@page
@using App_ACC_MEX.Pages.Shared
@model SolucionesdecontrolindustrialModel

@{
	ViewData["Title"] = "Solucionesdecontrolindustrial";
}
<link rel="stylesheet" href="~/Diseño/Automatizacion diseño/Solucionesdecontrolindustrial.css" asp-append-version="true">

<div>
	<div class="otroo"></div>
		<div class="Contenedorarribaa">
			<h1> Soluciones de control industrial</h1>
		<div/>

		<div class="contenedor2">
		</div>
</div>
