@page
@using App_ACC_MEX.Pages.Shared
@model SolucionesenvisionModel

@{
	ViewData["Title"] = "Solucionesenvision";
}
<link rel="stylesheet" href="~/Diseño/Automatizacion diseño/Solucionesenvision.css" asp-append-version="true">

<div>
	<div class="otro"></div>
		<div class="Encabezado">
			<h1> Hola</h1>
		<div/>
	<div class="contenedor1"></divc>
	
</div>
