@page
@using App_ACC_MEX.Pages.Shared
@model SolucionesIoTModel

@{
	ViewData["Title"] = "SolucionesIoT";
}
<link rel="stylesheet" href="~/Diseño/Softeare y Conectividad/SolucionesenIoT.css" asp-append-version="true">

<div>
	<div class="otro_SolucionesIoT"></div>
	<div class="encabezado_SolucionesIoT">
		<h1> Soluciones en IoT flexibles</h1>
		<div />
		<div class="contenedor_SolucionesIoT">
			</div>

		</div>
