@page
@using App_ACC_MEX.Pages.Shared
@model Trazabilidad_IndustrialModel

@{
	ViewData["Title"] = "TrazabilidadaIndustrial";
}
<link rel="stylesheet" href="~/Diseño/Softeare y Conectividad/TrazabilidadIndustrial.css" asp-append-version="true">

<div>
	<div class="otro_TrazabilidadIndustrial"></div>

	<div class="encabezado_TrazabilidadIndustrial">
		<h1> Trazabilidad Industrial</h1>
		<div />

		<div class="contenedor_TrazabilidadIndustrial">
		</div>

</div>
