@page
@using App_ACC_MEX.Pages.Shared
@model ValoresModel

@{
	ViewData["Title"] = "Valores";
}
<link rel="stylesheet" href="~/Diseño/Quienes Somos/Valores.css" asp-append-version="true">

<div>
	<div class="otro_valores"></div>
	<div class="Encabezado_valores">
		<h1> Bienvenido a los valores</h1>
		<div/>
		<div class="contenedor_valores">
			</div>

		</div>
