@page
@using App_ACC_MEX.Pages.Shared
@model VisionModel

@{
	ViewData["Title"] = "Vision";
}
<link rel="stylesheet" href="~/Diseño/Quienes Somos/Vision.css" asp-append-version="true">

<div>
	<div class="otro_vision"></div>
	<div class="Encabezado_vision">
		<h1> Bienvenido a la vision</h1>
		<div />
		<img width="600px" height="500px" src="https://www.nintenderos.com/wp-content/uploads/2020/04/anime-pokemon-pikachu.jpg"></img>
		<div class="contenedor_vision">
			</divc>

		</div>
